div[data-fittext] {
    line-height: 1 !important;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: black;
}

// .grid__item {
//     background-image: url('http://vignette2.wikia.nocookie.net/fallout/images/9/9b/Fallout_2_Steam_banner.jpg/revision/latest?cb=20110709022431') !important;
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     background-position: center !important;
// }
